.category-card {
    transition: all 0.3s ease;
    cursor: pointer;
}

.category-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 10px 20px rgba(0,0,0,0.1) !important;
}

a {
    font-style: none;
    text-decoration: none;
    color: inherit;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.card {
    width: 300px;
    background-color: #FFF;
    border: 1px solid #e0e0e0;
    border-radius: 10px;
    margin: 10px;
    padding: 10px 20px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
}